html,
body {
    font-family: "Comic Neue", Calibri, "Segoe UI", Arial, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* Disable zooming and scrolling */
    -ms-content-zooming: none;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    /* Disable text selection and cursor */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-weight: bold;
}

.dark-theme {
    background-color: #0b1526;
    color: aqua;
}
.dark-theme .banner {
    background-image: linear-gradient(to bottom, #264880, #004ECC);
}

.light-theme {
    background-color: aqua;
    color: #264880;
}

.light-theme .game-over-wrapper {
    background-image: linear-gradient(to bottom right, aqua, #a0c4ff);
    /* background-image: linear-gradient(to bottom right, #a0c4ff, #4D91FF); */
}

.light-theme .end-stats {
    border-color: #264880;
}

.light-theme .logo {
    -webkit-text-stroke: 6pt #1a2f53;   
}

.screen {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.iphone {
    border: 1px solid black;
    width: 320pt;
    height: 460pt;
}

/* 100% Height minus random 5pt minus banner height */
.playScreen {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* 100% Height minus banner height minus ad height minus random 40pt */
#HOMESCREEN {
    margin: auto;
}

/* 100% Height minus random 41pt minus banner height minus ad height */
.gameOverScreen {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 46pt;
    background-image: linear-gradient(to bottom, #0061FF, #418AFF);
}

.header-button {
    height: 30pt;
    margin: 8pt;
    background-position: center;
}

.home {
    width: 65pt;
    background-image: linear-gradient(to bottom, #418AFF, #0061FF);
    /* border: 1px solid #fff; */
    border-radius: 10px;
    box-shadow: 2px 2px 8px #0009;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sound {
    width: 30pt;
    margin-top: 10pt;
    margin-right: 6pt;
    background: url('../images/sound-enabled.svg') no-repeat;
    filter: invert(1);
    cursor: pointer;
}

.darkmode {
    width: 30pt;
    margin-right: 6pt;
    background: url('../images/dark-mode.svg') no-repeat;
    cursor: pointer;
    filter: invert(1);
    transition: all 0.3s;
}

.darkmode.toggle {
    transform: rotate(180deg);
}

.help {
    width: 30pt;
    margin-left: 0;
    margin-right: 6pt;
    background: url('../images/help.svg') no-repeat;
    filter: invert(1);
    cursor: pointer;
}

/* Used by JS */
.sound-disabled {
    background-image: url('../images/sound-disabled.svg');
}

.heading {
    font-size: 15pt;
    /*margin: 12pt 0;
    float: left;*/
    /*width: calc(100% - 80pt);*/
    width: 100%;
    text-align: center;
    padding-top: 7pt;
}

.logo {
    margin: 0 auto;
    height: 34pt;
    /* width: 141pt; */
    /* background-position: center; */
    /* background: url('../images/heading-logo.png') no-repeat; */
    font-size: 28pt;
    -webkit-text-stroke: 6pt aqua;
    text-align: center;
    font-weight: normal;
}

.start-buttons {
    text-align: center;
    vertical-align: middle;
    width: 246pt;
    margin: 0 auto;
    margin-top: 20pt;
}

.start-button-full {
    font-size: 24pt;
    width: 246pt;
    height: 57pt;
    clear: both;
    line-height: 57pt;
    margin-bottom: 7pt;
    border-radius: 10px;
    /* border: 2px solid #fff; */
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 2px 2px 8px #0009;
    color: white;
}

.start-button-half {
    font-size: 20pt;
    width: 119pt;
    height: 57pt;
    line-height: 57pt;
    margin-bottom: 7pt;
    border-radius: 10px;
    /* border: 2px solid #fff; */
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 2px 2px 8px #0009;
    color: white;
}

.start-heading {
    font-size: 16pt;
    text-align: center;
    margin: 20pt 0 4pt 0;
}

.play-stats {
    margin: 0 16pt;
    font-size: 26pt;
}

.play-stats span {
    width: 82pt;
    margin-bottom: 8pt;
}

.middle-shape {
    flex: 1;
}

.middle-shape div {
    width: 230pt;
    height: 100%;
    font-size: 246pt;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

#HELPER {
    width: 145pt;
    height: 50pt;
    padding: 8pt;
    position: absolute;
    background-image: linear-gradient(to bottom, #418AFF, #0061FF);
    border: 2px solid #fff;
    border-radius: 10px;
    bottom: 85pt;
    left: 110pt;
    color: #fff;
}

.select-shapes {
    text-align: center;
    clear: both;
    width: 100%;
    height: 79pt;
    border-top: 2px solid #8383837a;
    /* background-image: linear-gradient(to bottom, #0061ff9c, #0061ff00); */
}

/*.select-shapes input {
        width: 24%;
        height: 57pt;
        background-color: #999999;
    }*/

.select-shapes div {
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.game-over {
    font-size: 32pt;
    text-align: center;
    margin-bottom: 32pt;
}

.end-stats {
    width: 165pt;
    height: 125pt;
    margin: 0 auto;
    padding: 10pt;
    /* background-image: linear-gradient(to top, #0061FF, #418AFF); */
    border: 1px solid aqua;
    /* border-radius: 10px; */
}

.end-stats-mode {
    padding: 8pt;
    width: 80pt;
    height: 100%;
    float: left;
    text-align: left;
}

.end-stats-score {
    padding: 8pt;
    width: 53pt;
    float: right;
    text-align: right;
}

.end-stats span {
    font-size: 18pt;
    font-weight: normal;
}

#ENDSCORE,
#BESTSCORE {
    font-size: 24pt;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

#NEWBESTSCORE {
    padding-right: 4pt;
    font-size: 7pt;
    color: goldenrod;
}

.end-buttons {
    margin: 31pt auto 0 auto;
    width: 184pt;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.end-buttons div {
    width: 82pt;
    height: 41pt;
    margin: 8pt auto;
    line-height: 41pt;
}

.tryagain-end-bg {
    background-image: linear-gradient(to bottom, #418AFF, #0061FF);
    border-radius: 10px;
    /* border: 1px solid #fff; */
    box-shadow: 2px 2px 8px #0009;
    float: left;
    cursor: pointer;
}

.share-end-bg {
    background-image: linear-gradient(to bottom, #00A000, #007800);
    border-radius: 10px;
    /* border: 1px solid #fff; */
    box-shadow: 2px 2px 8px #0009;
    float: right;
    cursor: pointer;
}

.blue-bg {
    background-color: #0061FF;
    color: white;
}

.red-bg {
    background-color: #8E0F0F;
    color: white;
}

.red-start-bg, .help-red {
    background-image: linear-gradient(to bottom, #ff1818, #8D0F0F);
}

.yellow-start-bg, .help-yellow {
    background-image: linear-gradient(to bottom, #FFBF41, #FFAA00);
}

.green-start-bg, .help-green {
    background-image: linear-gradient(to bottom, #00A000, #007800);
}

.blue-start-bg, .help-blue {
    background-image: linear-gradient(to bottom, #418AFF, #0061FF);
}

.orange-start-bg, .help-orange {
    background-image: linear-gradient(to bottom, #FF3F00, #CA3A00);
}

.yellow-bg {
    background-color: #FFAA00;
    color: white;
}

.green-bg {
    background-color: #007800;
    color: white;
}

.pink-bg {
    background-color: deeppink;
    color: white;
}


.ad,
#AD-WRAPPER {
    /*width: 100%;
    height: 60pt;*/
    margin: 0 auto;
    /*background-color: white;*/
}

.ad-windows {
    width: 460pt;
    height: 60pt;
}

#ENDREASON {
    margin: 0 auto 20pt auto;
    text-align: center;
    width: 184pt;
    height: 30pt;
}

.disabled {
    opacity: 0.1;
}

.height100 {
    height: 100%;
}

#HELPSCREEN {
    margin: auto;
}

.help-node {
    width: 246pt;
    /* margin: -3pt auto; */
    padding: 12pt;
    padding-top: 6pt;
    /* border: 3pt solid white; */
    height: 14pt;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    overflow: hidden;
    color: #fff;
}

.help-node-expanded {
    height: 85pt;
}

.help-node-expanded .help-about {
    display: block !important;
}

.help-node-expanded .expand-help {
    display: none;
}

.help-node-expanded .collapse-help {
    display: inline;
}

.help-heading-collapser {
    width: 18pt;
    float: left;
}

.help-heading {
    float: left;
    font-size: 15pt;
}

.disable-ads-button {
    font-size: 18pt;
}

.help-highscore {
    font-size: 8pt;
    float: right;
}

.help-highscore span {
    font-size: 14pt;
}

.help-about {
    clear: both;
    font-size: 10pt;
    font-weight: normal;
}

.help-red {
    background-color: #8D1717;
}

.help-yellow {
    background-color: #FFAB04;
}

.help-green {
    background-color: #008900;
}

.help-blue {
    background-color: #0262FF;
}

.help-orange {
    background-color: #E93D00;
}

.help-stats {
    height: 50pt;
    margin-top: 20pt;
    background-color: #444;
    background-image: linear-gradient(to bottom, #666, #444);
}

.help-stats-about {
    float: right;
    width: 165pt;
    font-size: 10pt;
}

.help-stats-about div {
    margin: 3pt;
}

.help-stats-about span {
    float: right;
    font-size: 12pt;
    margin-top: -1pt;
}

.help-ads {
    background-color: #0262FF;
    height: 20pt;
    margin-top: 20pt;
}

.light-box {
    height: 100%;
    width: 100%;
    background-color: #202020;
    opacity: 0.7;
    position: absolute;
    left: 0%;
    z-index: 1000;
}

.game-over-wrapper {
    z-index: 1001;
    margin: auto;
    padding: 20px 40px;
    box-shadow: 0px 0px 40px #0000009e;
    background-image: linear-gradient(to bottom right, #415b86, #264880);
    /* background-image: linear-gradient(to bottom right, #0039ff, #00c0ff); */
    /* border: 2px solid #fff; */
    /* border-radius: 12px; */
    position: relative;
}

.game-over-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 16pt;
    height: 16pt;
    font-size: 20pt;
    cursor: pointer;
    font-weight: lighter;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

#SHAPE {
    height: 100%;
    width: 100%;
}

.select-shapes svg {
    height: 60px;
    width: 60px;
    margin: auto;
}

svg.circle,
svg.square,
svg.triangle,
svg.star {
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
}

svg.circle circle.circle {
    display: block;
}

svg.square polygon.square {
    display: block;
}

svg.triangle polygon.triangle {
    display: block;
}

svg.star polygon.star {
    display: block;
}

svg.blue {
    fill: url(#bluegrad);
}

svg.yellow {
    fill: url(#yellowgrad);
}

svg.red {
    fill: url(#redgrad);
}

svg.green {
    fill: url(#greengrad);
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Light'), local('ComicNeue-Light'),
        url('../fonts/ComicNeue-Light.woff2') format('woff2'),
        url('fonts/ComicNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
        url('../fonts/ComicNeue-Italic.woff2') format('woff2'),
        url('../fonts/ComicNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
        url('../fonts/ComicNeue-Bold.woff2') format('woff2'),
        url('../fonts/ComicNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Bold Italic'), local('ComicNeue-BoldItalic'),
        url('../fonts/ComicNeue-BoldItalic.woff2') format('woff2'),
        url('../fonts/ComicNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Light Italic'), local('ComicNeue-LightItalic'),
        url('../fonts/ComicNeue-LightItalic.woff2') format('woff2'),
        url('../fonts/ComicNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
        url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
        url('../fonts/ComicNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}