html, body {
    font-family: Arial;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* Disable zooming and scrolling */
    -ms-content-zooming: none;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    /* Disable text selection and cursor */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.dark-theme {
    background: url(../images/dark-bg.png) repeat-x #161616;
    color: white;
}

.light-theme {
    background: url(../images/light-bg.png) repeat-x white;
    color: black;
}

.screen {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.iphone {
    border: 1px solid black;
    width: 320pt;
    height: 460pt;
}

/* 100% Height minus random 5pt minus banner height */
.playScreen {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 100% Height minus banner height minus ad height minus random 40pt */
#HOMESCREEN {
    margin: auto;
}

/* 100% Height minus random 41pt minus banner height minus ad height */
.gameOverScreen {
    display: flex;
    position: fixed;
    width: 100%;
    height: calc(100% - 130pt);
}

.banner {
    width: 100%;
    height: 44pt;
    background: url(../images/banner-bg.png) repeat-x;
}

.header-button {
    height: 30pt;
    margin: 8pt;
    background-position: center;
}

.home {
    width: 65pt;
    background: url('../images/home.png') no-repeat;
}

.sound {
    width: 30pt;
    margin-left: 0;
    margin-right: 6pt;
    background: url('../images/sound-enabled.png') no-repeat;
}

.help {
    width: 30pt;
    margin-left: 0;
    margin-right: 6pt;
    background: url('../images/help.png') no-repeat;
}

/* Used by JS */
.sound-disabled {
    background-image: url('../images/sound-disabled.png');
}

.heading {
    font-size: 15pt;
    /*margin: 12pt 0;
    float: left;*/
    /*width: calc(100% - 80pt);*/
    width: 100%;
    text-align: center;
    padding-top: 10pt;
}

.logo {
    width: 141pt;
    height: 27pt;
    background-position: center;
    background: url('../images/heading-logo.png') no-repeat;
    margin: 0 auto;
}

.start-buttons {
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 246pt;
    margin: 0 auto;
    margin-top: 20pt;
}

.start-button-full {
    font-size: 24pt;
    width: 246pt;
    height: 57pt;
    clear: both;
    line-height: 57pt;
    margin-bottom: 7pt;
}

.start-button-half {
    font-size: 20pt;
    width: 119pt;
    height: 57pt;
    line-height: 57pt;
    margin-bottom: 7pt;
}

.start-heading {
    font-size: 16pt;
    color: white;
    text-align: center;
    margin: 20pt 0 4pt 0;
}

.play-stats {
    margin: 0 16pt;
    font-size: 26pt;
}

    .play-stats span {
        width: 82pt;
        margin-bottom: 8pt;
    }

.middle-shape {
    flex: 1;
}

    .middle-shape div {
        width: 230pt;
        height: 100%;
        font-size: 246pt;
        text-align: center;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
    }

#HELPER {
    width: 135pt;
    height: 45pt;
    padding: 8pt;
    position: absolute;
    background: url(../images/helper-bg.png) no-repeat;
    bottom: 85pt;
    left: 100pt;
}

.select-shapes {
    text-align: center;
    clear: both;
    width: 100%;
    height: 79pt;
    background: url(../images/buttons-bg.png) repeat-x #636363;
}

    /*.select-shapes input {
        width: 24%;
        height: 57pt;
        background-color: #999999;
    }*/

    .select-shapes div {
        float: left;
        width: 25%;
        height: 100%;
    }

.game-over {
    font-size: 32pt;
    text-align: center;
    margin-bottom: 32pt;
}

.end-stats {
    width: 165pt;
    height: 110pt;
    margin: 0 auto;
    padding: 10pt;
    background: url(../images/end-stats-bg.png) no-repeat;
}

.end-stats-mode {
    padding: 8pt;
    width: 80pt;
    color: black;
    height: 100%;
    float: left;
    text-align: left;
}

.end-stats-score {
    padding: 8pt;
    width: 53pt;
    color: black;
    float: right;
    text-align: right;
}

    .end-stats span {
        font-size: 18pt;
        color: white;
    }

#ENDSCORE, #BESTSCORE {
    font-size: 24pt;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

#NEWBESTSCORE {
    padding-right: 4pt;
    font-size: 7pt;
    color: yellow;
}

.end-buttons {
    margin: 31pt auto 0 auto;
    width: 184pt;
    text-align: center;
    vertical-align: middle;
    color: white;
}

    .end-buttons div {
        width: 82pt;
        height: 41pt;
        margin: 8pt auto;
        line-height: 41pt;
    }

.blue-end-bg {
    background: url('../images/blue-end-bg.png') no-repeat;
    background-position: center;
    float: left;
}

.green-end-bg {
    background: url('../images/green-end-bg.png') no-repeat;
    background-position: center;
    float: right;
}

.blue-bg {
    background-color: #0061FF;
    color: white;
}

.red-bg {
    background-color: #8E0F0F;
    color: white;
}

.red-start-bg {
    background: url('../images/red-start-bg2.png') no-repeat;
    background-position: center;
}

.yellow-start-bg {
    background: url('../images/yellow-start-bg2.png') no-repeat;
    background-position: center;
}

.green-start-bg {
    background: url('../images/green-start-bg2.png') no-repeat;
    background-position: center;
}

.blue-start-bg {
    background: url('../images/blue-start-bg2.png') no-repeat;
    background-position: center;
}

.orange-start-bg {
    background: url('../images/orange-start-bg2.png') no-repeat;
    background-position: center;
}

.yellow-bg {
    background-color: #FFAA00;
    color: white;
}

.green-bg {
    background-color: #007800;
    color: white;
}

.pink-bg {
    background-color: deeppink;
    color: white;
}

.circle-button {
    background: url('../images/circle-button.png') no-repeat;
    background-position: center;
}

.square-button {
    background: url('../images/square-button.png') no-repeat;
    background-position: center;
}

.triangle-button {
    background: url('../images/triangle-button.png') no-repeat;
    background-position: center;
}

.star-button {
    background: url('../images/star-button.png') no-repeat;
    background-position: center;
}

.blue-circle {
    background: url('../images/circle-blue.png') no-repeat;
    background-position: center;
}

.yellow-circle {
    background: url('../images/circle-yellow.png') no-repeat;
    background-position: center;
}

.red-circle {
    background: url('../images/circle-red.png') no-repeat;
    background-position: center;
}

.green-circle {
    background: url('../images/circle-green.png') no-repeat;
    background-position: center;
}

.blue-square {
    background: url('../images/square-blue.png') no-repeat;
    background-position: center;
}

.yellow-square {
    background: url('../images/square-yellow.png') no-repeat;
    background-position: center;
}

.red-square {
    background: url('../images/square-red.png') no-repeat;
    background-position: center;
}

.green-square {
    background: url('../images/square-green.png') no-repeat;
    background-position: center;
}

.blue-triangle {
    background: url('../images/triangle-blue.png') no-repeat;
    background-position: center;
}

.yellow-triangle {
    background: url('../images/triangle-yellow.png') no-repeat;
    background-position: center;
}

.red-triangle {
    background: url('../images/triangle-red.png') no-repeat;
    background-position: center;
}

.green-triangle {
    background: url('../images/triangle-green.png') no-repeat;
    background-position: center;
}

.blue-star {
    background: url('../images/star-blue.png') no-repeat;
    background-position: center;
}

.red-star {
    background: url('../images/star-red.png') no-repeat;
    background-position: center;
}

.yellow-star {
    background: url('../images/star-yellow.png') no-repeat;
    background-position: center;
}

.green-star {
    background: url('../images/star-green.png') no-repeat;
    background-position: center;
}

.ad, #AD-WRAPPER {
    /*width: 100%;
    height: 60pt;*/
    margin: 0 auto;
    /*background-color: white;*/
}

.ad-windows {
    width: 460pt;
    height: 60pt;
}

#ENDREASON {
    margin: 0 auto 20pt auto;
    text-align: center;
    width: 184pt;
    height: 30pt;
}

.disabled {
    opacity: 0.1;
}

.height100 {
    height: 100%;
}

#HELPSCREEN {
    margin: auto;
}

.help-node {
    width: 246pt;
    margin: -3pt auto;
    padding: 4pt 8pt 8pt 8pt;
    border: 3pt solid white;
    height: 12pt;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    overflow: hidden;
}

.help-node-expanded {
    height: 60pt;
}

    .help-node-expanded .help-about {
        display: block !important;
    }

    .help-node-expanded .expand-help {
        display: none;
    }

    .help-node-expanded .collapse-help {
        display: inline;
    }

.help-heading-collapser {
    width: 18pt;
    float: left;
}

.help-heading {
    float: left;
    font-size: 15pt;
}

.disable-ads-button {
    font-size: 18pt;
}

.help-highscore {
    font-size: 8pt;
    float: right;
}

    .help-highscore span {
        font-size: 14pt;
    }

.help-about {
    clear: both;
    font-size: 10pt;
}

.help-red {
    background-color: #8D1717;
}

.help-yellow {
    background-color: #FFAB04;
}

.help-green {
    background-color: #008900;
}

.help-blue {
    background-color: #0262FF;
}

.help-orange {
    background-color: #E93D00;
}

.help-stats {
    height: 42pt;
    margin-top: 20pt;
}

.help-stats-about {
    float: right;
    width: 165pt;
    font-size: 10pt;
}

    .help-stats-about div {
        margin: 3pt;
    }

    .help-stats-about span {
        float: right;
        font-size: 12pt;
        margin-top: -1pt;
    }

.help-ads {
    background-color: #0262FF;
    height: 20pt;
    margin-top: 20pt;
}

.light-box {
    height: 100%;
    width: 100%;
    background-color: #202020;
    opacity: 0.7;
    position: fixed;
    left: 0%;
    z-index: 1000;
}

.game-over-wrapper {
    z-index: 1001;
    margin: auto;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}